<!-- <nav class="navbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="pull-right">
          <span>
            <a href="https://github.com/fimkrypto/nxt-plus"><i class="fa fa-github-alt"></i>&nbsp;&nbsp;NXT-PLUS on Github</a>
          </span>
          &nbsp;&nbsp;
          <span>
            <a href="#"><i class="fa fa-users"></i>&nbsp;&nbsp;Forum</a>
          </span>
        <span>
      </div>
    </div>
  </div>
</nav> -->


