<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">NXT<b>+</b>&nbsp;<span class="text-muted"><small>by fimkrypto</small></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="{{ site.baseurl }}/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
        <li><a target="_blank" href="http://fimkchat.com"><i class="fa fa-wordpress"></i>&nbsp;&nbsp;Blog</a></li>
        <li><a target="_blank" href="https://github.com/fimkrypto/nxt-plus"><i class="fa fa-github-alt"></i>&nbsp;&nbsp;Github</a></li>
        <li><a target="_blank" href="#">NXT Forum</a></li>
        <li><a target="_blank" href="#">FIMK Forum</a></li>
      </ul>
    </div>
  </div>
</nav>
